registry=https://npm.artifacts.furycloud.io/
@jsr:registry=https://npm.jsr.io/
@upstash:registry=https://registry.npmjs.org/
@playwright:registry=https://registry.npmjs.org/
@modelcontextprotocol:registry=https://registry.npmjs.org/
framer-motion:registry=https://registry.npmjs.org/
